<platform name="android">

    <preference name="GOOGLE_API_VERSION" default="20.+" />
    <preference name="HMS_LOCATION_VERSION" default="6.9.0.300" />
    <preference name="OKHTTP_VERSION" default="4.12.0" />

    <framework src="com.squareup.okhttp3:okhttp:$OKHTTP_VERSION"/>
    <preference name="EVENTBUS_VERSION" default="3.3.1" />
    <framework src="org.greenrobot:eventbus:$EVENTBUS_VERSION"/>

    <framework src="io.github.nishkarsh:android-permissions:2.1.6"/>
    <framework src="org.slf4j:slf4j-api:2.0.7"/>
    <framework src="com.github.tony19:logback-android:3.0.0"/>

    <!-- Lifecycle compatible con AGP 8 -->
    <framework src="androidx.lifecycle:lifecycle-runtime:2.6.2" />

    <!-- build.gradle del plugin -->
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    <resource-file
        src="src/android/libs/com/transistorsoft/tslocationmanager"
        target="../../libs/com/transistorsoft/tslocationmanager" />

    <resource-file
        src="src/android/libs/com/transistorsoft/tslocationmanager-v21"
        target="../../libs/com/transistorsoft/tslocationmanager-v21" />

    <source-file
        src="src/android/CDVBackgroundGeolocation.java"
        target-dir="src/com/transistorsoft/cordova/bggeo" />

    <!-- Android 14 -->
    <config-file parent="/manifest" target="app/src/main/AndroidManifest.xml">
        <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="BackgroundGeolocation">
            <param name="android-package"
                   value="com.transistorsoft.cordova.bggeo.CDVBackgroundGeolocation"/>
        </feature>
    </config-file>

    <preference name="LICENSE_KEY" default="LICENSE_KEY" />
    <config-file parent="/manifest/application"
                 target="app/src/main/AndroidManifest.xml">
        <meta-data
            android:name="com.transistorsoft.locationmanager.license"
            android:value="afd70a772914a9a4a8d3e5ec66a3c8d13ed783cbad014b21f547cf59fdeb27a8" />
    </config-file>

</platform>
